<h2>Artist List: </h2>
<ul>
  <% @artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
  <% end %>
</ul>

<a href="/">Home</a>
<a href="/songs">Song List</a>
<a href="/genres">Genre List</a>
